@{
    ViewBag.Title = "Home Page";
}

<div class="container" style="padding-top: 50px;">
    <h1>TAKSI APLIKACIJA</h1>
    <p class="lead">START APPLICATION!</p>
    <p><a href="./StyleHtml/index.html" class="btn btn-primary btn-lg">ULAZ &raquo;</a></p>
</div>